<h2>All Historical Landmarks</h2>

<% @landmarks.each do |landmark| %>
  Name: <%= landmark.name %><br>
  Year Built: <%= landmark.year_completed %><br><br>
<% end %>

<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
